<header>
    <nav class="navbar navbar-default navbar-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">andpe</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if page.name == "index.html" %}active{% endif %}"><a href="/">About</a></li>
                    <li class="{% if page.name == "posts.html" or page.is_post == true %}active{% endif %}"><a href="/posts">Posts</a></li>
					<li class="{% if page.name == "projects.html" %}active{% endif %}"><a href="/projects">Projects</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
